--color-text-main: #ffffff;
--color-primary: #000000;
--wrapper-height: 87vh;
--image-max-width: 300px;
--image-margin: 3rem;
--font-family: "HK Grotesk";
--font-family-header: "HK Grotesk";
/* Our default values set as CSS variables */
--color-bg: #000000;

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #ffffff;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  margin: 0 auto;

  background-color: #000000;
}

td {
  height: 80px;
  width: 160px;
  text-align: left;
  vertical-align: middle;
}

 {
  background-color: #000000;
}

/* Page structure */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #94ff94;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}
.titled {
  color: #2e701f;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 70%;
  margin: 0;
}
.titlef {
  color: #2e701f;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 70%;
  margin: 0;
}
.titlee {
  color: #2e701f;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 70%;
  margin: 0;
}
.rockworld {
  font-size: 15px;
  width: 200px;
  height: 100px;
  border-width: 1px;
  color: rgba(255, 255, 255, 1);
  border-color: #268a16;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 1);
  text-shadow: inset 0px 1px 0px #aade7c;
  background: linear-gradient(rgba(84, 112, 61, 1), rgba(55, 63, 48, 1));
}

.krokodyl-spł {
  font-size: 15px;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: rgba(255, 255, 255, 1);
  border-color: #268a16;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 1);
  text-shadow: inset 0px 1px 0px #aade7c;
  background: linear-gradient(rgba(84, 112, 61, 1), rgba(55, 63, 48, 1));
}
.krokodyl-spinn {
  font-size: 15px;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: rgba(255, 255, 255, 1);
  border-color: #268a16;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 1);
  text-shadow: inset 0px 1px 0px #aade7c;
  background: linear-gradient(rgba(84, 112, 61, 1), rgba(55, 63, 48, 1));
}
.karp {
  width: 100px;
  height: 100px;
  background-image: ("https://atlasryb.online/zdjecia/1440_1200.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.szczupak {
  width: 100px;
  height: 100px;
  background-image: ;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.amur {
  width: 100px;
  height: 100px;
  background-image: ;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.płoć {
  width: 100px;
  height: 100px;
  background-image: ;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.leszcz {
  width: 100px;
  height: 100px;
  background-image: ;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.sum {
  width: 100px;
  height: 100px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  background-image: ;
}
.okoń {
  width: 100px;
  height: 100px;
  background-image: ;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
.sandacz {
  width: 100px;
  height: 100px;
  background-image: ;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}


h1 {
  color: #ffffff;
}
h2 {
  color: #ffffff;
}
h3 {
  color: #ffffff;
}
h4 {
  color: #ffffff;
}
h5 {
  color: #ffffff;
}
h6 {
  color: #ffffff;
}
h7 {
  color: #ffffff;
}
